<!-- views/planos-show.handlebars -->

<div class="whiteboard">
    <h2 class="tituloplano">{{plano.disciplina}}</h2>
    <h3 class="autorplano">criado por: {{plano.author.username}} em {{plano.created_at}}</h3>
</div>

<div class="whiteboard">
    <h3>Descrição</h3>
    <p>{{plano.descricao}}</p>
</div>

<div class="whiteboard">
    <h3>Ementa</h3>
    <p>{{plano.ementa}}</p>
</div>

<div class="whiteboard">
    <h3>Referências</h3>
    <p>{{plano.referencias}}</p>
</div>

<div class="whiteboard">
    <form method="GET" action="/planos/{{plano._id}}/edit">
        <button class="botao" type="submit">Editar</button>
    </form>

    <form method="POST" action="/planos/{{plano._id}}?_method=DELETE">
        <button class="botao" type="submit">Deletar</button>
    </form>
</div>

<!-- comment form -->
{{> comments-form}}

{{#each plano.comments}}
    <div class="whiteboard">
        <p class="comentario">{{this.content}}</p>
        <p class="autorcomentario text-right">comentário de: {{this.author.username}}</p>
    </div>
{{/each}}
